<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/styleADMVerMedico.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Unimed | Ver médicos</title>
</head>

<body>
    <div class="novoHeader"></div>
    <header>
        <div class="nome" style="margin-top: 2vh;">
            <a href="../MedicoTela.ejs" style="text-decoration: none; color: rgb(255, 255, 255);">Seja bem vindo(a),
                <b>
                    
                </b>
            </a>
        </div>
    </header>
    <main>
        <div class="quadro">
            <% for (let i = 0; i < medicos.length; i++) {%>
                <div class="Otro">
                    <br>
                    <div class="infos">
                        <!-- <div class="foto">
                            <img src="imagem/transferir.jpg" style="width: 75%;">
                        </div> -->
                        <div class="informacoes">
                            <div class="informacoes2">
                                <input type="text" value=" Nome: <%= medicos[i].Nome %>" disabled>
                                <input type="text" value=" Idade: <%= medicos[i].Idade %>" disabled>
                            </div>
                            <div class="informacoes2">
                                <input type="text" value=" CRM: <%= medicos[i].CRM %>" disabled>
                                <input type="text" value=" CPF: <%= medicos[i].CPF_Medico %>" disabled>
                                <input type="text" value=" Area: <%= medicos[i].Area %>" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </main>
    <footer>
        <!--<img src="img/logo bosch.png" alt="" width="100px">-->
        <h5 class="texttt">ETS | Engineering technician School </h5>
        <div id="footerBosch"></div>
    </footer>
</body>

</html>