<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    </style>
    <title>Alunos</title>
</head>

<body>
    <div class="headerbosch"></div>
    <div class="header">
        <div class="nav">
            <div id="inicio">
                <a href="/">&nbsp; CONTROLE DE ALUNOS</a>
            </div>

            <div id="boschLogo">
                <img src="/img/logobosch.png" style="width: 150px; margin-top: -10%;">
            </div>

            <div id="final">
                <a><b>Cadastrar: &nbsp; &nbsp;</b></a>
                <a href="../alunos" id="teste">Alunos</a>
                |
                <a href="../salas">Sala</a>
            </div>
        </div>
    </div>

    <div id="editar">
        <h2>EDITAR ALUNO</h2>

        <form action="/editarAluno/<%= alunos.IDAluno %>" method="post" enctype="multipart/form-data">
            <div><img src="/img/<%= alunos.Foto %>" id="imgFoto" style="border-radius: 100px; width: 150px; height: 150px;">
            </div>
            <div><input type="file" id="flImage" name="foto" accept="image/*" style="display: none;" name="foto"></div>
            <div><input type="text" value="<%= alunos.Nome %>" id="nomeAluno" placeholder=" Nome" name="nome"></div>
            <div><input type="text" value="<%= alunos.Idade %>" id="idadeAluno" placeholder="Capacidade" name="idade">
            </div>
            <div><input type="text" value="<%= alunos.Sexo %>" id="sexoAluno" placeholder="Capacidade" name="sexo">
            </div>

            <div>
                <select id="salaAlunoEdit" name="sala">
                    <option>Selecione</option>
                    <% for (let i=0; i< salas.length; i++) { %>
                        <option value='<%= salas[i].IDSala %>'>
                            <%= salas[i].Nome %>
                        </option>
                        <% } %>
                </select>
            </div>

            <button value="enviar" id="buttonEdit" onclick="sair()">Editar</button>
        </form>
        
        <form action="/excluirAluno/<%= alunos.IDAluno %>" method="post">
            <button value="enviar" id="buttonEdit" onclick="sair()">Excluir</button>
        </form>
    </div>

    <div class="footer">
        <img src="/img/logobosch.png" style="width: 150px;"><br>
        ETS | Engineering Technical School ™<br>
        <br><br>
    </div>
    <div class="headerbosch"></div>
</body>

</html>